html, body {
  background-color: purple;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,45,82,1) 0%, rgba(2,67,105,1) 0%, rgba(2,88,127,1) 49%, rgba(2,89,128,1) 49%, rgba(2,62,100,1) 52%, rgba(0,212,255,1) 100%);
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}

.fancy-mode{
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,62,100,1) 29%, rgba(2,45,82,1) 47%, rgba(2,67,105,1) 60%, rgba(2,89,128,1) 73%, rgba(0,212,255,1) 100%);
}

button{
  background-color: rgb(0, 72, 255);
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 5px; 
}

button:hover{
  background-color: rgb(33, 79, 196);
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.botchat{
  color: black;
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  text-align: left;
  background-color: rgb(36, 198, 198);
  box-shadow: rgb(0, 128, 255);
}

.userchat{
  margin-right: 10px;
  background: transparent;
  text-align: right;
  height: 25px;
}

.searchbox{
  background: linear-gradient(rgb(187, 33, 187), slateblue, red);
  width: 55%;
  height: 25px;
  border-radius: 5px;
  margin-left: 20%;
}

.stick{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.searchbox:active{
  border: black;
}

::placeholder{
  opacity: 10px;
  color: black;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: skyblue;
  box-shadow: 0 0; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0.25turn, #f69d3c , #ebf8e1, #3f87a6);
}

img{
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  background-color: snow;
}

ul:hover{
  cursor: pointer;
}

.context-menu { 
  position: absolute;
} 
.menu {
  display: flex;
  border-radius: 100px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}
.menu > li > a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.menu > li > a:hover {
  color: #4b00ff;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.trash > a:hover {
  color: red;
}
:root {
  --mainColor: #ff9800;
}

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}